package pages

import "github.com/jack-fin/bartering-games/internal/components"

templ Home() {
	@components.Layout("Home") {
		<h1>bartering.games</h1>
		<p>A Steam key bartering platform where gamers can trade game keys.</p>
	}
}
