package components

templ Nav() {
	<div class="site-header-inner">
		<a href="/" class="site-logo">bartering.games</a>
		<nav aria-label="Main navigation">
			<ul class="site-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Log in</a></li>
			</ul>
		</nav>
	</div>
}
